@font-face {
     font-family: 'Mountains of Christmas';
     font-style: normal;
     src: local("Mountains of Christmas"), local("MountainsofChristmas-Regular"), url(https://fonts.gstatic.com/s/mountainsofchristmas/v8/dVGBFPwd6G44IWDbQtPewylJhLDHyIrT3I5b5eGTHmw.woff2) format("woff2"); 
}

*{
     box-sizing: border-box;
     padding: 0px;
     font-family: 'Mountains of Christmas';
}

.footer-line{
     width: 100%; 
     background-color: #beb985; 
     height: 20px;
}

body{
     background-color: #de2f32 !important;
     
}

html {
     scroll-behavior: smooth;
}

.navbar{
     background-color: #E3DEAF !important;
     width: 100% !important;
}


.navbar-brand, #logo{
     width: 50px;
     height: 50px;
}

.navbar-brand{
     margin: 10px 30px;
}

.nav-link{
     color: #91A395 !important;
}

/* footer{
     background-color: #E3DEAF; 
     margin-top: 600px;
     color: #91A395;
} */

.ft{
     margin: 180px 50px 0px 50px;
     padding: 20px 0;
}

#reg:hover{
     cursor: default;
}

#reg{
     margin-left: 500px;    
}

.slash{
     border-top: 2px solid #91A395;
     width:50px;
     transform: rotate(-70deg); 
}

.flex{
     width: 100%;
     display: flex;
     justify-content: space-between;
     
}

.fa-solid{
     color:#969165;
}

.content{
     text-align: center;
     margin-top: 100px;
}

.rdr{
     display: inline-block;
     color: #969165;
     text-decoration: none;
}

.regBtn > a{
     text-decoration: none;
     color: #FBF2CF ;
}

#login:hover, #signup:hover{
     color: #91A395;
}

.btn{
     color: #FBF2CF !important;
}

h1, #h3{
     color: #969165;
     text-align: left;
}

.rdrBtn {
     text-decoration: none !important;
     color: #FBF2CF !important;
}

/* #scrollDown {
     margin-top: 100%;
     padding-bottom: 25%; 
}  */
/* .regBtn:hover > a{
     color: #91a395 ;
} */

/* .dropdown-str{
     left: 100px;
} */